@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body {
    font-family:'Roboto Regular', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, rgb(24, 34, 68), rgb(176, 182, 201));
}

h1 {
    color:white;
    margin-bottom: 0;
}

h2 {
    color: white;
    margin:10px 0 40px;
}

p {
    font-size: 1.5em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.myCanvas {
    background-color: white;
    box-shadow: 5px 5px 5px rgb(32, 44, 82);
    overflow: scroll;
}