body {
    margin: auto;
}

section {
    width: 60%;
    margin: 50px auto;
    text-align: center;
}

.btn {
    display: inline;
    width: 150px;
    height: 50px;
    text-decoration: none;
    color: white;
    background-color: brown;
    font-size: 1.5rem;
    padding: 20px 50px;
}

section span {
    display: inline;
    width: 150px;
    height: 50px;
    border: 1px solid brown;
    margin-left: 20px;
    font-size: 2rem;
    padding: 20px 50px;
}