@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body {
    font-family:'Roboto Regular', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, rgb(24, 34, 68), rgb(176, 182, 201));
}

h1 {
    color:white;
    margin-bottom: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infos {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.btn {
    display: inline-block;
    width: 150px;
    height: 70px;
    text-decoration: none;
    background-color: rgb(24, 34, 68);
    color: rgb(176, 182, 201);
    font-size: 3.2rem;
    font-weight: bold;
    border-radius: 10px;
}

.btn:hover {
    color: rgb(24, 34, 68);
    background-color: rgb(176, 182, 201);
}

#timer {
    display: inline-block;
    width: 150px;
    height: 70px;
    background-color: rgb(176, 182, 201);
    color: rgb(24, 34, 68);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}

.myCanvas {
    background-color: white;
    box-shadow: 5px 5px 5px rgb(32, 44, 82);
    cursor: crosshair;
}

#resultat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(69, 16, 85);
    color: rgb(255, 255, 255);
    font-size: 8rem;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 20px;
    display: none;
}