@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
 
:root {
    --blue1 : #011f4b;
    --blue2 : #03396c;
    --blue3 : #005b96;
    --blue4 : #6497b1;
    --blue5 : #b3cde0;
}

/* *,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
    font-family:'Roboto Regular', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, var(--blue5), var(--blue2));
    min-height: 100vh;
    overflow: hidden;
}

.main-container {
    text-align: center;
    margin: 0;
}

h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
}
.main-container p {
    width: 600px;
    margin: 0 auto;
}

#demoCanvas {
    background-color: white;
    margin-top: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.infoslabel {
    margin: 15px auto 0;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.infoslabel div {
    display: inline-block;
    width: 150px;
    margin: 0 10px;
    color: rgb(24, 34, 68);
    font-size: 2rem;
    font-weight: bold;    
}

.infos {
    margin: 5px auto 0;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.timer, .lvl, .score {
    display: inline-block;
    width: 150px;
    height: 60px;
    margin: 0 10px;
    background-color: rgb(216, 219, 230);
    color: rgb(24, 34, 68);
    font-size: 3rem;
    font-weight: bold;
    border-radius: 10px;
}

.div-goGame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(to right, var(--blue3), var(--blue4));
    color: #ffffff;
    padding: 10px 50px;
    border-radius: 20px;
    display: none;
}

.msg-goGame {
    display: block;
    font-size: 4rem;
    font-weight: bold;
}

.btn-goGame {
    display: inline-block;
    text-decoration: none;
    margin: 10px 0px 20px;
    padding: 10px 30px;
    font-size: 2rem;
    font-weight: bold;
    background-color: white;
    color: #1875a3;
    border-radius: 5px;
}

.btn-goGame:hover {
    color: white;
    background-color: #063c77;
} 





