@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body {
    margin: 0 auto;
    font-family:'Roboto Regular', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, rgb(109, 109, 223), rgb(44, 44, 85));
}
h1 {
    width: 500px;
    margin: 0 auto;
    color: white;
    font-size: 3rem;
}
section {
    padding: 10px;
    width: 60vw;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    background-color: lightgrey;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(173, 173, 173);
}
#res-exo1 {
    width: 120px;
    height: 120px;
    margin-top:10px;
    border-radius: 50%;
    background-color: brown;
}

#res-exo7 {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin-top:10px;
    border-radius: 50%;
    background-color: black;
}

#exo-7 input {
    display: inline-block
}

#res-exo8 {
    width: 120px;
    height: 120px;
    margin-top:10px;
    border-radius: 50%;
    background-color: brown;
}

#res-exo9 {
margin-left: 30px;
}